.trigger-modal{
  display: none;
}

.modal-dialog{
  z-index: 10000;
  width: 1009px;
  position: fixed;
  left: calc((100% - 600px) / 2);
}

.fade{
  position: absolute;
  width: 59%;
}

.opacity-modal-backgroud{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.473);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modalDialog-container{
  width: 1009px;
  position: absolute;
}
