<div class="container-fluid p-0">

  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    (cerrar)="cancelarModal()"
    (aceptar)="aceptarModal()"
    >
  </app-modal-dialog>

  <h1 class="h3 mb-3">Secciones Home</h1>

  <div class="row">

    <div class="col-12 col-xl-12">

      <app-grid
        [titulo]="'Listado de Secciones de la página home'"
        [cabeceras]="['Sección','Fecha de creación','Fceha de eliminación']"
        [registros]="data"
        [columnasVisibles]="visibleColumns"
        (idEliminar)="eliminar($event)"
        (textoFiltro)="filtrar($event)"
      >
      </app-grid>

      <app-paginacion
        [paginacion]="paginacion"
        [rutaGet]="'/api/secciones_home/pag/'"
        (paginaAnterior)="mostrarPagina($event)"
        (paginaSiguiente)="mostrarPagina($event)"
        (mostrarPagina)="mostrarPagina($event)"
      ></app-paginacion>

    </div>
  </div>

</div>
