<div class="product-img">
  <img src="{{ sourceImage }}{{ imagen.srcImg }}" alt="{{ imagen.srcImg }}" class="image1">
  <!-- Hover Thumb -->
  <img class="hover-img" src="{{ sourceImage }}{{ imagen.srcImg2 }}" alt="{{ imagen.srcImg2 }}">
  <!-- Favourite -->
  <div class="product-favourite">
      <a (click)="clickFavorite()" class="favme fa fa-heart"></a>
  </div>

  <!-- Product Description -->
  <div class="product-description">
    <span class="texto">{{ imagen.texto1 }}</span>
    <a href="single-product-details.html">
        <h6 class="texto">{{ imagen.texto2 }}</h6>
    </a>
    <p class="product-price texto">$ {{ imagen.precio }}</p>

    <!-- Hover Content -->
    <div class="hover-content">
        <!-- Add to Cart -->
        <div class="add-to-cart-btn">
            <button class="btn essence-btn" (click)="itemOnClick()">{{ imagen.textoBoton }}</button>
        </div>
    </div>
  </div>
</div>

