::ng-deep .add-to-cart-btn > .essence-btn{
  top: -100px;
}


::ng-deep .carousel{
  z-index: 100;
}

::ng-deep .product-img{
  cursor: default;
}

.product-img img{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}

::ng-deep .product-description{
  position: absolute;
  bottom: 0;
  width: 100% !important;
  background: white;
}

::ng-deep  [_nghost-otd-c73]
.carousel-cells
.carousel-cell img,
[_nghost-otd-c73] .carousel-cells .carousel-cell video
{
  width: 100%;
  height: 69%;
  position: absolute;
  object-fit: contain;
}

::ng-deep .hover-img{
  position: absolute !important;
  top: -51px;
  left: 0;
  z-index: -1;
  transition: opacity .5s;
  transition: transform .5s;
  opacity: 0;
}

::ng-deep .image1{
  transition: opacity .5s;
  transition: transform .5s;
  height: 348px !important;
}

::ng-deep .image1:hover{
  opacity: 0;
  transform: rotateY(90deg);
}

::ng-deep .image1:hover ~ .hover-img{
  transform: rotateY(180deg);
  opacity: 1;
}

::ng-deep .product-description a > h6{
  background: white;
  width: 100%;
}


::ng-deep .product-description{
  height: 82px;
}

::ng-deep .essence-btn{
  position: absolute;
  left: 18%;
}


::ng-deep .texto{
  min-height: 25px;
  display: block;
}



::ng-deep .fa-heart{
  position: absolute;
  height: 25px;
  width: 45px;
  font-size: 14px !important;
  color: #ccc;
  top: 20px;
  right: 20px;
  z-index: 10;
  line-height: 25px !important;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgb(0 0 0 / 15%);
  text-align: center;
  cursor: pointer;
  /* opacity: 0; */
  /* visibility: hidden;*/
}


.product-description {
  bottom: auto !important;
}
