<div class="row">
  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    (aceptar)="aceptarModal()"
    (cerrar)="cancelarModal()"
  >
  </app-modal-dialog>

  <h1 class="h3 mb-3">Secciones Home</h1>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card">
        <div class="card-header">
          <!-- <h6 class="card-subtitle text-muted">{{ url }}</h6> -->
          <h5 class="card-title">Mantenedor de Secciones de la página Home</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="nombre"
                  class="form-control col-md-5"
                  placeholder="Ingresa el nombre de la sección"
                  max="100"
                />
                <!-- Mensajes de error -->
                <app-input-errors
                  [control]="form.get('nombre')"
                  [mensajes]="{
                    required:'El nombre de la sección es obligatoria.',
                    minlength: 'El nombre debe tener almenos 3 carácteres. Ingresa un nombre más largo.',
                    maxlength: 'El nombre debe ser de hasta 100 carácteres. Ingresa un nombre más corto.'
                  }"
                ></app-input-errors>
                <!-- /Mensajes de error -->

              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Imagen de la sección</label>
              <div class="col-sm-10">
                <input type="file"
                    class="input-file"
                    id="btn-file"
                    accept=".png, .jpg"
                    (change)="cargarImagen($event.target)">


                <img id="img-foto" src="#" alt="Imagen sección" class="foto-seccion col-md-6"/>
                <button
                  type="submit"
                  class="btn btn-primary btn-load-photo col-md-3 offset-2"
                  (click)="handlerCargarImagen()"
                >Cargar imagen
              </button>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Buscar producto</label>

              <div class="col-sm-10">

                <input
                  id="txt_producto"
                  type="text"
                  class="form-control col-md-4 text-find-prod"
                  placeholder="Ingresa un texto y presiona Enter"
                  max="100"
                  [value]="search"
                  (change)="buscarProducto($event)"
                />
                <select
                  #cboProductos
                  class="custom-select col-md-5 cbo-find-prod"
                  (change)="changeCboProducto(cboProductos)"
                >
                  <option *ngFor="let item of productos; index as i" [value]="i">{{ item.nombre }} {{ item.nombre_marca }}</option>
                </select>

                <button
                  class='col-md-4 btn btn-primary btn-add-prod'
                  [disabled]="idSelectedProd === null"
                  (click)="agregarProducto()"
                  >Agregar producto a la sección
                </button>

              </div>
            </div>

            <app-grid
              [titulo]="'Productos de la sección'"
              [cabeceras]="['Nombre','Marca','Texto 1','Texto 2']"
              [registros]="form.value.productos"
              [columnasVisibles]="visibleColumns"
              (idEliminar)="eliminarProd($event)"
              [ocultarNuevo]="true"
              [ocultarFiltro]="true"
              [columnasEditables]="['texto1','texto2']"
              [ocultarEditar]="true"
              [ocultarEliminar]="false"
            >
            </app-grid>

            <app-form-buttons
              (eventCancelar)="cancelar()"
              (eventEliminar)="modalEliminar()"
              (eventGrabar)="modalGrabar()"
              [id]="id"
              [formValid]="form.invalid"
            ></app-form-buttons>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
