.div-imagen{
  display: none;
}

.image-container{
  position: absolute;
  overflow: auto;
  height: 85%;
  width: 99%;
}

.imagen-element{
  width: 45%;
  max-height: 37%;  
}


.delete-image-icon{
  position: absolute;
  left: 28px;
  bottom: 14px;
  background: #fc6180;
  padding: 4px 6px;
  color: white;
  height: 29px;
  width: 29px;
}

.default-image-icon{
  position: absolute;
  left: 63px;
  bottom: 14px;
  background: #4680ff;
  padding: 3px;
  height: 29px;
}

.default-image-icon > svg{
  stroke: white;
  padding: 3px;

}