<header class="header_area">
  <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
      <!-- Classy Menu -->
      <nav class="classy-navbar" id="essenceNav">
          <!-- Logo -->
          <!-- <a class="nav-brand" href="index.html"><img src="{{ sourceImage }}core-img/logo.png" alt=""></a> -->
          <a class="nav-brand" routerLink="/"><span>{{ tienda.nombre_tienda }}</span></a>
          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>
          <!-- Menu -->
          <div class="classy-menu">
              <!-- close btn -->
              <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
              <!-- Nav Start -->
              <div class="classynav">
                  <ul>
                      <li><a href="#">Tienda</a>
                          <div class="megamenu">

                              <ng-container *ngFor="let cat of categorias">
                                <ul *ngIf="tieneCategorias(cat)" class="single-mega cn-col-4">
                                    <li class="title">{{ cat.nombre  }}</li>
                                    <li *ngFor="let subCat of cat.subcategorias">
                                      <a [routerLink]="'/catalogo/'+cat.id+'/'+subCat.id">{{ subCat.nombre }}</a>
                                    </li>
                                </ul>
                              </ng-container>

                              <div class="single-mega cn-col-4">
                                  <img src="{{ sourceImage }}bg-img/bg-6.jpg" alt="">
                              </div>
                          </div>
                      </li>
                      <li><a href="#">Páginas</a>
                          <ul class="dropdown">
                              <li><a routerLink="/">Home</a></li>
                              <li><a routerLink="/catalogo">Catálogo</a></li>
                              <li><a routerLink="/login">Administración</a></li>
                              <li><a href="blog.html">Acerca de...</a></li>
                          </ul>
                      </li>
                      <li><a href="blog.html">Acerca de...</a></li>
                  </ul>
              </div>
              <!-- Nav End -->
          </div>
      </nav>

      <!-- Header Meta Data -->
      <div class="header-meta d-flex clearfix justify-content-end">
          <!-- Search Area -->
          <div class="search-area">
              <form action="#" method="post">
                  <input #txtFiltro
                    type="search"
                    name="search"
                    id="headerSearch"
                    placeholder="Escribe para búscar"
                    (change)="changeTextoFiltro(txtFiltro.value)"
                    (focus)="ocultaNombre()"
                    (blur)="muestraNombre()"
                  >
                  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
          </div>
          <!-- Favourite Area -->
          <div class="favourite-area">
              <a href="#"><img src="{{ sourceImage }}core-img/heart.svg" alt=""></a>
          </div>
          <!-- User Login Info -->
          <div class="user-login-info">
              <a [routerLink]="nombre_cliente === '' ? '/login_cliente' :'/logout'" class="{{ nombre_cliente ? 'cliente-logueado' : '' }}"><img src="{{ sourceImage }}core-img/user.svg" alt="" ></a>
              <span #nombreCliente class="{{ nombre_cliente && !ocultarNombre ? 'cliente-logueado' : 'cliente-desconoicido' }}">{{ nombre_cliente }}</span>
          </div>
          <!-- Cart Area -->
          <div class="cart-area">
              <a href="#" id="essenceCartBtn"><img src="{{ sourceImage }}core-img/bag.svg" alt=""> <span>{{ cantProductos }}</span></a>
          </div>
      </div>

  </div>
</header>
