<div class="row">

  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    (aceptar)="aceptarModal($event)"
    (cerrar)="cancelarModal()"
    >
  </app-modal-dialog>


  <h1 class="h3 mb-3">{{ titulo }}</h1>

  <div class="row">

      <div class="col-12 col-xl-12">
        <div class="card">
          <div class="card-header">
            <!-- <h6 class="card-subtitle text-muted">{{ url }}</h6> -->
            <h5 class="card-title">Mantenedor de {{ titulo }}</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="form" id="form">

              <div class="form-group row">

                <div class="col-sm-8">

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Rut</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="rut" class="form-control col-md-9" placeholder="Ingresa el rut del cliente" min="9" max="13"/>
                      <!-- Mensajes de error -->
                      <app-input-errors
                        [control]="form.get('rut')"
                        [mensajes]="{
                          required: 'El rut es obligatorio',
                          minlength: 'El rut debe tener entre 9 y 13 carácteres. Ingresa un nombre más largo',
                          maxlength: 'El rut debe tener entre 9 y 13 carácteres. Ingresa un nombre más corto'
                      }"></app-input-errors>
                    <!-- /Mensajes de error -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nombre</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="nombres" class="form-control col-md-9" placeholder="Ingresa el nombre del cliente" max="50"/>
                      <!-- Mensajes de error -->
                      <app-input-errors
                        [control]="form.get('nombres')"
                        [mensajes]="{
                          required: 'Debes ingresar el nombre',
                          minlength: 'El nombre debe tener entre 2 y 50 carácteres. Ingresa un nombre más largo',
                          maxlength: 'El nombre debe tener entre 2 y 50 carácteres. Ingresa un nombre más corto'
                      }"></app-input-errors>
                      <!-- /Mensajes de error -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Primer apellido</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="apellido1" class="form-control col-md-9" placeholder="Ingresa el apellido paterno." max="50"/>
                      <!-- Mensajes de error -->
                      <app-input-errors
                        [control]="form.get('apellido1')"
                        [mensajes]="{
                          required: 'Debes ingresar el primer apellido',
                          minlength: 'El apellido debe tener entre 2 y 50 carácteres. Ingresa un apellido más largo',
                          maxlength: 'El apellido debe tener entre 2 y 50 carácteres. Ingresa un apellido más corto'
                      }"></app-input-errors>
                      <!-- /Mensajes de error -->

                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Segundo apellido</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="apellido2" class="form-control col-md-9" placeholder="Ingresa el apellido materno." max="50"/>
                      <!-- Mensajes de error -->
                      <app-input-errors
                        [control]="form.get('apellido2')"
                        [mensajes]="{
                          minlength: 'El apellido debe tener entre 2 y 50 carácteres. Ingresa un apellido más largo',
                          maxlength: 'El apellido debe tener entre 2 y 50 carácteres. Ingresa un apellido más corto'
                      }"></app-input-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="email" class="form-control col-md-9" placeholder="Ingresa el correo electrónico." max="150"/>
                      <!-- Mensajes de error -->
                      <app-input-errors
                        [control]="form.get('email')"
                        [mensajes]="{
                          required: 'Debes ingresar el correo electrónico',
                          email: 'El email ingresado no es válido',
                          maxlength: 'El email ingresado debe tener un máximo de 250 carácteres. Ingresa un email más corto'
                      }"></app-input-errors>
                      <!-- /Mensajes de error -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Fono</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="fono" class="form-control col-md-9" placeholder="Ingresa el correo electrónico." max="150"/>
                      <!-- Mensajes de error -->
                      <app-input-errors
                        [control]="form.get('fono')"
                        [mensajes]="{
                          required: 'Debes ingresar teléfono',
                          minlength: 'El teléfono ingresado debe tener entre 8 y 20 carácteres. Ingresa un teléfono más largo',
                          maxlength: 'El teléfono ingresado debe tener entre 8 y 20 carácteres. Ingresa un teléfono más corto'
                      }"></app-input-errors>
                      <!-- /Mensajes de error -->
                    </div>
                  </div>

                </div>

                <div class="col-sm-2">
                  <div class="form-group div-imagen">
                    <label for="file">Choose File</label>
                    <input type="file"
                           id="btn-file"
                           accept=".png, .jpg"
                            formControlName="foto"
                           (change)="cargarFoto($event.target)">
                  </div>

                  <img id="img-foto" src="#" alt="Foto" class="foto-cliente"/>
                  <button type="submit" class="btn btn-primary btn-load-photo" (click)="handlerCargarFoto()">Cargar foto</button>
                </div>

              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Región</label>
                <div class="col-sm-10">
                  <select #cboRegion class="custom-select col-md-5" formControlName="cod_region" (change)="obtenerProvincias(this.cboRegion.value.split(': ')[1])">
                    <option *ngFor="let item of regiones" [ngValue]="item.codigo">{{ item.nombre }}</option>
                  </select>

                  <!-- Mensajes de error -->
                  <div *ngIf="form.get('cod_region')?.hasError('required') && form.get('roles')?.dirty" class="error-input">Debe seleccionar una región .</div>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Provincia</label>
                <div class="col-sm-10">
                  <select #cboProvincia class="custom-select col-md-5" formControlName="cod_provincia" (change)="obtenerComunas(this.cboProvincia.value.split(': ')[1])">
                    <option *ngFor="let item of provincias" [ngValue]="item.codigo">{{ item.nombre }}</option>
                  </select>

                  <!-- Mensajes de error -->
                  <div *ngIf="form.get('cod_provincia')?.hasError('required') && form.get('roles')?.dirty" class="error-input">Debe seleccionar una provincia .</div>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Comuna</label>
                <div class="col-sm-10">
                  <select class="custom-select col-md-5" formControlName="cod_comuna">
                    <option *ngFor="let item of comunas" [ngValue]="item.codigo">{{ item.nombre }}</option>
                  </select>

                  <!-- Mensajes de error -->
                  <div *ngIf="form.get('cod_comuna')?.hasError('required') && form.get('roles')?.dirty" class="error-input">Debe seleccionar una comuna .</div>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ciudad</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="ciudad" class="form-control col-md-5" placeholder="Ingresa la ciudad del cliente." max="150"/>
                  <!-- Mensajes de error -->
                  <app-input-errors
                    [control]="form.get('ciudad')"
                    [mensajes]="{
                      required: 'El campo ciudad es obligatorio',
                      minlength: 'La ciudad ingresada debe tener entre 2 y 20 carácteres. Ingresa un nombre de ciudad mas corto',
                      maxlength: 'La ciudad ingresada debe tener entre 2 y 20 carácteres. Ingresa un nombre de ciudad mas largo'
                  }"></app-input-errors>
                  <!-- /Mensajes de error -->
                </div>
              </div>


              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Dirección</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    formControlName="direccion"
                    class="form-control"
                    placeholder="Ingresa la dirección del cliente."
                    max="150"
                  />
                  <!-- Mensajes de error -->
                  <app-input-errors
                    [control]="form.get('direccion')"
                    [mensajes]="{
                      required: 'Debes ingresar la dirección',
                      maxlength: 'La dirección debe tener hasta 250 carácteres. Ingresa una dirección más corta'
                  }"></app-input-errors>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Casa número</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="casa_num" class="form-control col-md-2" placeholder="Ingresa el número de block." max="10"/>
                  <!-- Mensajes de error -->
                  <app-input-errors
                    [control]="form.get('casa_num')"
                    [mensajes]="{
                      required: 'Debes el número de casa',
                      maxlength: 'El número de casa ingresado debe tener hasta 10 carácteres. Ingresa un número de casa más corto'
                  }"></app-input-errors>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Block número</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="block_num" class="form-control col-md-2" placeholder="Ingresa el número de block." max="10"/>
                  <!-- Mensajes de error -->
                  <app-input-errors
                    [control]="form.get('block_num')"
                    [mensajes]="{
                      maxlength: 'El número de block ingresado debe tener hasta 10 carácteres. Ingresa un número de block más corto'
                  }"></app-input-errors>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Referencia</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    formControlName="referencia"
                    class="form-control"
                    placeholder="Ingresa una referencia para llegar a la dirección del cliente."
                    max="150"
                  />
                  <!-- Mensajes de error -->
                  <app-input-errors
                    [control]="form.get('referencia')"
                    [mensajes]="{
                      maxlength: 'La referencia debe tener hasta 250 carácteres. Ingresa una referencia más corta'
                  }"></app-input-errors>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                  <input type="password" formControlName="password" class="form-control col-md-5" placeholder="Ingresa la contraseña." max="150"/>
                  <!-- Mensajes de error -->
                  <div *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.dirty" class="error-input">La contraseña ingresada debe terener almenos 6 carácteres. Ingresa una contraseña mas larga.</div>
                  <div *ngIf="form.get('password')?.hasError('maxlength') && form.get('password')?.dirty" class="error-input">La contraseña ingresada debe tener un máximo de 20 carácteres. Ingresa una contraseña más corta.</div>
                  <div *ngIf="
                    form.get('password')?.hasError('confirmPassword') &&
                    form.get('confirm_password')?.hasError('confirmPassword') &&
                    form.get('password')?.dirty" class="error-input">
                    La contraseña ingresada no coincide con la confirmación de contraseña.
                  </div>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Confirmar contraseña</label>
                <div class="col-sm-10">
                  <input type="password" formControlName="confirm_password" class="form-control col-md-5" placeholder="Vuelve a ingresar la contraseña." max="20"/>
                  <!-- Mensajes de error -->
                  <div *ngIf="form.get('confirm_password')?.hasError('minlength') && form.get('confirm_password')?.dirty" class="error-input">La contraseña ingresada debe terener almenos 6 carácteres. Ingresa una contraseña mas larga.</div>
                  <div *ngIf="form.get('confirm_password')?.hasError('maxlength') && form.get('confirm_password')?.dirty" class="error-input">La contraseña ingresada debe tener un máximo de 20 carácteres. Ingresa una contraseña más corta.</div>
                  <div *ngIf="
                    form.get('confirm_password')?.hasError('confirmPassword') &&
                    form.get('password')?.hasError('confirmPassword') &&
                    form.get('confirm_password')?.dirty" class="error-input">
                    La contraseña ingresada no coincide con la confirmación de contraseña.
                  </div>

                  <!-- /Mensajes de error -->
                </div>
              </div>

              <app-form-buttons
                (eventCancelar)="cancelar()"
                (eventEliminar)="modalEliminar()"
                (eventGrabar)="modalGrabar()"
                [id]="id"
                [formValid]="form.invalid"
              ></app-form-buttons>

            </form>
          </div>
        </div>
      </div>

  </div>

</div>
