<div class="row">
  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    (aceptar)="aceptarModal($event)"
    (cerrar)="cancelarModal()"
  >
  </app-modal-dialog>

  <h1 class="h3 mb-3">Subcategorías</h1>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Mantenedor de Subcategorías</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="form">

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="nombre"
                  class="form-control col-md-5"
                  placeholder="Ingresa el nombre de la subcategoría"
                  max="50"
                />
                <!-- Mensajes de error -->
                <app-input-errors
                  [control]="form.get('nombre')"
                  [mensajes]="{
                    required: 'El nombre del impuesto es obligatorio',
                    minlength: 'El nombre debe tener entre 3 y 50 carácteres. Ingresa un nombre más largo',
                    maxlength: 'El nombre debe tener entre 3 y 50 carácteres. Ingresa un nombre más corto'
                  }"></app-input-errors>
                <!-- /Mensajes de error -->

              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Categoría</label>
              <div class="col-sm-10">
                <select
                  formControlName="categoria_id"
                  class="custom-select col-md-10"
                >
                  <option value="0">Sin categoría</option>
                  <option *ngFor="let item of categorias" [value]="item.id">
                    {{ item.nombre }}
                  </option>
                </select>
                <!-- Mensajes de error -->
                <app-input-errors
                  [control]="form.get('categoria_id')"
                  [mensajes]="{
                    required: 'Debe seleccionar una categoría'
                  }"></app-input-errors>
                <!-- /Mensajes de error -->

              </div>
            </div>

            <app-form-buttons
              (eventCancelar)="cancelarFormulario()"
              (eventEliminar)="modalEliminar()"
              (eventGrabar)="modalGrabar()"
              [id]="form.value.id"
              [formValid]="form.invalid"
            ></app-form-buttons>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
