<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a class="sidebar-toggle d-flex" (click)="showHideLeftMenu()">
    <i class="hamburger align-self-center"></i>
  </a>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <a
          class="nav-icon dropdown-toggle d-inline-block d-sm-none"
          href="#"
          data-toggle="dropdown"
        >
          <i class="align-middle" data-feather="settings"></i>
        </a>

        <span
          class="nav-link dropdown-toggle d-none d-sm-inline-block clickeable"
          (click)="showHideProfileMenu()"
          data-toggle="dropdown"
        >
          <img
            [src]="srcAvatar"
            class="avatar img-fluid rounded mr-1"
            [alt]="nombreUsuario"
          />
          <span class="text-dark">{{nombreUsuario}}</span>
        </span>
        <div *ngIf="showProfileMenu" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/admin/perfil"
            ><i class="align-middle mr-1" data-feather="user"></i> Perfil</a
          >
          <div class="dropdown-divider"></div>
          <label class="dropdown-item" (click)="logout()">Salir</label>
        </div>
      </li>
    </ul>
  </div>
</nav>
