<div class="container-fluid p-0">

    <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

    <app-toasts></app-toasts>

    <app-modal-dialog
      (cerrar)="cancelarDialogo($event)"
      (aceptar)="aceptarDialogo($event)"
      >
    </app-modal-dialog>

    <h1 class="h3 mb-3">{{ titulo }}</h1>

    <div class="row">

      <div class="col-12 col-xl-12">

        <div class="button-group">
          <button type="submit" class="btn btn-primary" (click)="cancelarEdicion()" [disabled]="!editando">
            Cancelar
          </button>
          <button type="submit" class="btn btn-success" (click)="grabar()" [disabled]="!editando || msgError !== ''">
            Grabar
          </button>
        </div>

        <app-grid
          [titulo]="(!editando ? 'Listado de ' + titulo : 'Editando el listado...') + '  ' + msgError "
          [cabeceras]="['Producto','Precio venta normal','Precio venta ($)','Descuento (%)','Dcto máx.','Promedio en impuestos','Monto impuestos','Precio final','Fecha desde','Fecha hasta','Stock','Marca','Unidad','Categoría','Sub-categoría', 'Fecha creación','Fecha actualización']"
          [columnasVisibles]="['producto','precio_venta_normal','precio','descuento','descuento_maximo','promedio_impuestos','monto_impuestos','precio_final','fecha_desde','fecha_hasta','stock','marca','unidad','categoria','sub_categoria','created_at','updated_at']"
          [columnasEditablesFechas]="['fecha_desde','fecha_hasta']"
          [columnasNumericasEditables]="['precio','descuento']"
          [mostrarCopiarFila]="true"
          [registros]="data"
          [mostrarEditar]="false"
          [filtroHabilitado]="!editando"
          [columnasMonetarias]="['precio_venta_normal','monto_impuestos','precio_final']"
          [columnasPorcentuales]="['descuento_maximo','promedio_impuestos']"

          (changeColumn)="onChangeColumn($event)"
          (clickInFirstColumn)="duplicarFila($event)"
          (idEliminar)="eliminar($event)"
          (textoFiltro)="filtrar($event)"
          [ocultarNuevo]="true"
        >
        </app-grid>

        <app-paginacion
          [paginacion]="paginacion"
          (paginaAnterior)="mostrarPagina($event)"
          (paginaSiguiente)="mostrarPagina($event)"
          (mostrarPagina)="mostrarPagina($event)"
        ></app-paginacion>

      </div>
    </div>

  </div>
