<div class="row">

  <app-toasts></app-toasts>

  <h1 class="h3 mb-3">{{ titulo }}</h1>

  <div class="row">

      <div class="col-12 col-xl-12">
        <div class="card">

          <accordion [closeOthers]="true">

            <accordion-group heading="Configurar información de la tienda" class="accordion-tab" [isOpen]="isOpen1" (isOpenChange)="isOpen1 = $event">
              <app-form-datos-tienda
                (close)="isOpen1 = !$event"
              ></app-form-datos-tienda>
            </accordion-group>

            <accordion-group heading="Imagenes de la marquesina de la página home de la tienda" class="accordion-tab" [isOpen]="isOpen2" (isOpenChange)="isOpen2 = $event">
              <app-form-config-marquesina-home
              (close)="isOpen2 = !$event"
              ></app-form-config-marquesina-home>
            </accordion-group>

            <accordion-group heading="Configuración de la oferta principal a mostrar en la página home de la tienda" class="accordion-tab" [isOpen]="isOpen3" (isOpenChange)="isOpen3 = $event">
              <app-form-config-oferta-principal
              (close)="isOpen3 = !$event"
              ></app-form-config-oferta-principal>
            </accordion-group>



          </accordion>

        </div>
      </div>

  </div>

</div>
