<div class="row">

  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    (aceptar)="aceptarModal()"
    (cerrar)="cancelarModal()"
    >
  </app-modal-dialog>

  <h1 class="h3 mb-3">Roles</h1>

  <div class="row">

    <div class="col-12 col-xl-12">
      <div class="card">
        <div class="card-header">
          <!-- <h6 class="card-subtitle text-muted">{{ url }}</h6> -->
          <h5 class="card-title">Mantenedor de Despachos</h5>
        </div>
        <div class="card-body">

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Rut cliente</label>
              <div class="col-sm-10">
                <label class="form-control col-md-5">{{ cliente?.rut }}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre cliente</label>
              <div class="col-sm-10">
                <label class="form-control col-md-5">{{ cliente?.nombres }} {{ cliente?.apellido1 }} {{ cliente?.apellido2 }}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Dirección</label>
              <div class="col-sm-10">
                <label class="form-control col-md-12">{{ despacho.direccion }}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Ciudad</label>
              <div class="col-sm-10">
                <label class="form-control col-md-5">{{ despacho.ciudad }}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">N° Casa</label>
              <div class="col-sm-10">
                <label class="form-control col-md-5">{{ despacho.casa_num }}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">N° Block</label>
              <div class="col-sm-10">
                <label class="form-control col-md-5">{{ despacho.block_num }}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Referencia</label>
              <div class="col-sm-10">
                <label class="form-control col-md-12">{{ despacho.referencia }}</label>
              </div>
            </div>



                <app-grid
                  [titulo]="'Detalle del despacho'"
                  [cabeceras]="['Cod. Producto','Producto','Cantidad','Fecha creación','Fecha actualización']"
                  [registros]="detalleVenta"
                  [columnasVisibles]="['producto_id','nombre','cantidad','created_at','updated_at']"
                  [ocultarFiltro]="true"
                  [ocultarEditar]="true"
                  [ocultarEliminar]="true"
                >
                </app-grid>

                <app-paginacion
                  [paginacion]="paginacion"
                  (paginaAnterior)="mostrarPagina($event)"
                  (paginaSiguiente)="mostrarPagina($event)"
                  (mostrarPagina)="mostrarPagina($event)"
                ></app-paginacion>



            <div class="row">
              <app-form-buttons
                (eventCancelar)="cancelar()"
                (eventEliminar)="modalAnularPedido()"
                (eventGrabar)="modalDepacharPedido()"
                [textoBotonGrabar]="'Despachar pedido'"
                [textoBotonEliminar]="'Eliminar Venta'"
                [id]="id"
              ></app-form-buttons>
            </div>



        </div>
      </div>
    </div>

  </div>

</div>
