<div class="row">

  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    (aceptar)="aceptarModal($event)"
    (cerrar)="cancelarModal()"
    >
  </app-modal-dialog>

  <h1 class="h3 mb-3">{{titulo}}</h1>

  <div class="row">

    <div class="col-12 col-xl-12">
      <div class="card">
        <div class="card-header">
          <!-- <h6 class="card-subtitle text-muted">{{ url }}</h6> -->
          <h5 class="card-title">Mantenedor de {{titulo}}</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="form">

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" formControlName="nombre" class="form-control col-md-5" placeholder="Ingresa el nombre de la unidad" max="50"/>
                <app-input-errors
                  [control]="form.get('nombre')"
                  [mensajes]="{
                    required:'El nombre de la unidad es obligatoria.',
                    minlength: 'El nombre debe tener almenos 3 carácteres. Ingresa un nombre más largo.',
                    maxlength: 'El nombre debe tener hasta 50 carácteres. Ingresa un nombre más corto.'
                  }"
                >
                </app-input-errors>

                <!-- /Mensajes de error -->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre en plural</label>
              <div class="col-sm-10">
                <input type="text" formControlName="nombre_plural" class="form-control col-md-5" placeholder="Ingresa el nombre en plural de la unidad" max="50"/>
                <!-- Mensajes de error -->
                <app-input-errors
                    [control]="form.get('nombre_plural')"
                    [mensajes]="{
                      required:'El nombre en plural de la unidad es obligatoria.',
                      minlength: 'El nombre debe tener almenos 3 carácteres. Ingresa un nombre más largo.',
                      maxlength: 'El nombre debe tener hasta 50 carácteres. Ingresa un nombre más corto.'
                    }"
                  >
                </app-input-errors>
                <!-- /Mensajes de error -->
              </div>
            </div>

            <app-form-buttons
              (eventCancelar)="cancelar()"
              (eventEliminar)="modalEliminar()"
              (eventGrabar)="modalGrabar()"
              [id]="id"
              [formValid]="form.invalid"
            ></app-form-buttons>

          </form>
        </div>
      </div>
    </div>

  </div>

</div>
