<div class="button-group" *ngIf="!ocultarBtnCerrar">
  <button type="submit" class="btn btn-primary" (click)="cancelar()">
    Cancelar
  </button>

  <button *ngIf="eliminar || forzarMostrarBtnEliminar"
    type="submit"
    class="btn btn-danger"
    (click)="modalEliminar()"
    [disabled]="id == null"
  >
    Eliminar
  </button>

  <button *ngIf="((crear || forzarMostrarBtnCrear)  && id == null ) || ((modificar || forzarMostrarBtnModificar) && id != null)"
    type="submit"
    class="btn btn-success"
    (click)="modalGrabar()"
    [disabled]="formValid"
  >
    Grabar
  </button>
</div>
