<div class="row">
  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    [titulo]="'Grabar'"
    [mensaje]="messageDialog"
    [mostrar]="mostrarModal"
    (cerrar)="cancelarModal($event)"
    (aceptar)="aceptarModal($event)"
  >
  </app-modal-dialog>

  <app-modal-dialog
    [titulo]="'Eliminar'"
    [mensaje]="'¿Desea eliminar el registro?'"
    [mostrar]="mostrarModal"
    (cerrar)="cancelarModal($event)"
    (aceptar)="aceptarModal($event)"
  >
  </app-modal-dialog>

  <h1 class="h3 mb-3">Pantallas</h1>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card">
        <div class="card-header">
          <!-- <h6 class="card-subtitle text-muted">{{ url }}</h6> -->
          <h5 class="card-title">Mantenedor de Pantallas</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="nombre"
                  class="form-control col-md-5"
                  placeholder="Ingresa el nombre del rol"
                  max="50"
                />
                <!-- Mensajes de error -->
                <div
                  *ngIf="
                    form.get('nombre')?.hasError('required') &&
                    form.get('nombre')?.dirty
                  "
                  class="error-input"
                >
                  El nombre de la pantalla es obligatoria.
                </div>
                <div
                  *ngIf="
                    form.get('nombre')?.hasError('minlength') &&
                    form.get('nombre')?.dirty
                  "
                  class="error-input"
                >
                  El nombre de la pantalla debe tener almenos 3 carácteres.
                  Ingresa un nombre más largo.
                </div>
                <div
                  *ngIf="
                    form.get('nombre')?.hasError('maxlength') &&
                    form.get('nombre')?.dirty
                  "
                  class="error-input"
                >
                  El nombre de la pantalla debe tener un máximo de 50
                  carácteres. Ingresa un nombre más corto.
                </div>
                <!-- /Mensajes de error -->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Menú</label>
              <div class="col-sm-10">
                <select
                  class="custom-select col-md-5"
                  formControlName="menus_id"
                >
                  <option *ngFor="let item of menus" [value]="item.id">
                    {{ item.nombre }}
                  </option>
                </select>

                <!-- Mensajes de error -->
                <div
                  *ngIf="
                    form.get('menus_id')?.hasError('required') &&
                    form.get('menus_id')?.dirty
                  "
                  class="error-input"
                >
                  Debe seleccionar el menú.
                </div>
                <!-- <div *ngIf="form.get('menus_id')?.hasError('minlength') && form.get('menus_id')?.dirty" class="error-input">El menú seleccionado no es válido.</div> -->
                <!-- /Mensajes de error -->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Permite crear</label>
              <div class="col-sm-10">
                <input type="checkbox" formControlName="permite_crear" />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Permite modificar</label>
              <div class="col-sm-10">
                <input type="checkbox" formControlName="permite_modificar" />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Permite eliminar</label>
              <div class="col-sm-10">
                <input type="checkbox" formControlName="permite_eliminar" />
              </div>
            </div>

            <button type="submit" class="btn btn-primary" (click)="cancelar()">
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-danger"
              (click)="modalEliminar()"
              [disabled]="id == null"
            >
              Eliminar
            </button>
            <button
              type="submit"
              class="btn btn-success"
              (click)="modalGrabar()"
            >
              Grabar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
