.main-menu {
  height: calc(133% - 80px) !important;
}

.main-menu > div > div > div > div > div > #mCSB_1_container_wrapper {
  height: 100%;
  display: contents;
}
.mCSB_container {
  margin-right: 0px !important;
}

.group-menu {
  padding: 1.5rem 1.5rem 0rem 1.375rem !important;
}
