<div class="row">

  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    [titulo]="'Grabar'"
    [mensaje]="messageDialog"
    [mostrar]="mostrarModal"
    (cerrar)="cancelarModal($event)"
    (aceptar)="aceptarModal($event)"
    >
  </app-modal-dialog>


  <h1 class="h3 mb-3">Usuarios</h1>

  <div class="row">

      <div class="col-12 col-xl-12">
        <div class="card">
          <div class="card-header">
            <!-- <h6 class="card-subtitle text-muted">{{ url }}</h6> -->
            <h5 class="card-title">Mantenedor de Usuarios</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="form" id="form">

              <div class="form-group row">

                <div class="col-sm-8">

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nombre</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="name" class="form-control col-md-9" placeholder="Ingresa el nombre del usuario" max="50"/>
                      <!-- Mensajes de error -->
                      <div *ngIf="form.get('name')?.hasError('required') && form.get('name')?.dirty" class="error-input">Debes ingresar el nombre.</div>
                      <div *ngIf="form.get('name')?.hasError('minlength') && form.get('name')?.dirty" class="error-input">El nombre debe tener almenos 5 carácteres. Ingresa un nombre más largo.</div>
                      <div *ngIf="form.get('name')?.hasError('maxlength') && form.get('name')?.dirty" class="error-input">El nombre debe tener un máximo de 50 carácteres. Ingresa un nombre más corto.</div>
                      <!-- /Mensajes de error -->
                    </div>
                  </div>



                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">A. Paterno</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="a_paterno" class="form-control col-md-9" placeholder="Ingresa el apellido paterno." max="50"/>
                      <!-- Mensajes de error -->
                      <div *ngIf="form.get('a_paterno')?.hasError('required') && form.get('a_paterno')?.dirty" class="error-input">Debes ingresar el apellido paterno.</div>
                      <div *ngIf="form.get('a_paterno')?.hasError('minlength') && form.get('a_paterno')?.dirty" class="error-input">El apellido paterno debe tener almenos 5 carácteres. Ingresa un apellido más largo.</div>
                      <div *ngIf="form.get('a_paterno')?.hasError('maxlength') && form.get('a_paterno')?.dirty" class="error-input">El apellido paterno debe tener un máximo de 50 carácteres. Ingresa un apellido más corto.</div>
                      <!-- /Mensajes de error -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">A. Materno</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="a_materno" class="form-control col-md-9" placeholder="Ingresa el apellido materno." max="50"/>
                      <!-- Mensajes de error -->
                      <div *ngIf="form.get('a_materno')?.hasError('required') && form.get('a_materno')?.dirty" class="error-input">Debes ingresar el apellido materno.</div>
                      <div *ngIf="form.get('a_materno')?.hasError('minlength') && form.get('a_materno')?.dirty" class="error-input">El apellido materno debe tener almenos 5 carácteres. Ingresa un apellido más largo.</div>
                      <div *ngIf="form.get('a_materno')?.hasError('maxlength') && form.get('a_materno')?.dirty" class="error-input">El apellido materno debe tener un máximo de 50 carácteres. Ingresa un apellido más corto.</div>
                      <!-- /Mensajes de error -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="email" class="form-control col-md-9" placeholder="Ingresa el correo electrónico." max="150"/>
                      <!-- Mensajes de error -->
                      <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.dirty" class="error-input">Debes ingresar el correo electrónico.</div>
                      <div *ngIf="form.get('email')?.hasError('email') && form.get('email')?.dirty" class="error-input">El correo electrónico no es válido.</div>
                      <div *ngIf="form.get('email')?.hasError('maxlength') && form.get('email')?.dirty" class="error-input">El correo electrónico debe tener un máximo de 150 carácteres. Ingresa un correo electrónico más corto.</div>
                      <!-- /Mensajes de error -->
                    </div>
                  </div>

                </div>

                <div class="col-sm-2">
                  <div class="form-group div-imagen">
                    <label for="file">Choose File</label>
                    <input type="file"
                           id="btn-file"
                           accept=".png, .jpg"
                            formControlName="foto"
                           (change)="cargarFoto($event.target)">
                  </div>

                  <img id="img-foto" src="#" alt="Foto" class="foto-usuario"/>
                  <button type="submit" class="btn btn-primary btn-load-photo" (click)="handlerCargarFoto()">Cargar foto</button>
                </div>

              </div>


              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Dirección</label>
                <div class="col-sm-10">
                  <input
                  type="text"
                  formControlName="direccion"
                  class="form-control"
                  placeholder="Ingresa la dirección del usuario."
                  max="150"
                />
                <!-- Mensajes de error -->
                <div *ngIf="form.get('direccion')?.hasError('required') && form.get('direccion')?.dirty" class="error-input">Debes ingresar la dirección del usuario.</div>
                <div *ngIf="form.get('direccion')?.hasError('minlength') && form.get('direccion')?.dirty" class="error-input">La dirección debe tener almenos 10 carácteres. Ingresa una dirección más largo.</div>
                <div *ngIf="form.get('direccion')?.hasError('maxlength') && form.get('direccion')?.dirty" class="error-input">La dirección debe tener un máximo de 150 carácteres. Ingresa una dirección más corto.</div>
                <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Roles</label>
                <div class="col-sm-10">
                  <select class="custom-select col-md-5" multiple formControlName="roles" [compareWith]="comparaRoles">
                    <option *ngFor="let item of roles" [ngValue]="item">{{ item.name }}</option>
                  </select>

                  <!-- Mensajes de error -->
                  <div *ngIf="form.get('roles')?.hasError('required') && form.get('roles')?.dirty" class="error-input">Selecciona almeno un rol del la lista.</div>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                  <input type="password" formControlName="password" class="form-control col-md-5" placeholder="Ingresa la contraseña." max="150"/>
                  <!-- Mensajes de error -->
                  <div *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.dirty" class="error-input">La contraseña ingresada debe terener almenos 6 carácteres. Ingresa una contraseña mas larga.</div>
                  <div *ngIf="form.get('password')?.hasError('maxlength') && form.get('password')?.dirty" class="error-input">La contraseña ingresada debe tener un máximo de 20 carácteres. Ingresa una contraseña más corta.</div>
                  <div *ngIf="
                    form.get('password')?.hasError('confirmPassword') &&
                    form.get('confirm_password')?.hasError('confirmPassword') &&
                    form.get('password')?.dirty" class="error-input">
                    La contraseña ingresada no coincide con la confirmación de contraseña.
                  </div>
                  <!-- /Mensajes de error -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Confirmar contraseña</label>
                <div class="col-sm-10">
                  <input type="password" formControlName="confirm_password" class="form-control col-md-5" placeholder="Buelve a ingresar la contraseña." max="20"/>
                  <!-- Mensajes de error -->
                  <div *ngIf="form.get('confirm_password')?.hasError('minlength') && form.get('confirm_password')?.dirty" class="error-input">La contraseña ingresada debe terener almenos 6 carácteres. Ingresa una contraseña mas larga.</div>
                  <div *ngIf="form.get('confirm_password')?.hasError('maxlength') && form.get('confirm_password')?.dirty" class="error-input">La contraseña ingresada debe tener un máximo de 20 carácteres. Ingresa una contraseña más corta.</div>
                  <div *ngIf="
                    form.get('confirm_password')?.hasError('confirmPassword') &&
                    form.get('password')?.hasError('confirmPassword') &&
                    form.get('confirm_password')?.dirty" class="error-input">
                    La contraseña ingresada no coincide con la confirmación de contraseña.
                  </div>

                  <!-- /Mensajes de error -->
                </div>
              </div>

              <button type="submit" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
              <button type="submit" class="btn btn-danger" (click)="modalEliminar()" [disabled]="id == null">Eliminar</button>
              <button type="button" class="btn btn-success" (click)="modalGrabar()" [disabled]="!form.valid">Grabar</button>
            </form>
          </div>
        </div>
      </div>

  </div>

</div>
