<div class="container-fluid p-0">

  <app-spinner [mostrarSpinner]="showSpinner"></app-spinner>

  <app-toasts></app-toasts>

  <app-modal-dialog
    (cerrar)="cancelarEliminar($event)"
    (aceptar)="aceptarEliminar($event)"
    >
  </app-modal-dialog>

  <h1 class="h3 mb-3">{{ titulo }}</h1>

  <div class="row">

    <div class="col-12 col-xl-12">

      <app-grid
        [titulo]="'Listado de ' + titulo"
        [cabeceras]="headers"
        [registros]="data"
        [columnasVisibles]="visibleColumns"
        [columnasConImagenes]="imagesColumn"
        (idEliminar)="eliminar($event)"
        (textoFiltro)="filtrar($event)"
      >
      </app-grid>

      <app-paginacion
        [paginacion]="paginacion"
        [rutaGet]="'/api/productos/pag/'"
        (paginaAnterior)="mostrarPagina($event)"
        (paginaSiguiente)="mostrarPagina($event)"
        (mostrarPagina)="mostrarPagina($event)"
      ></app-paginacion>

    </div>
  </div>

</div>
