::ng-deep .panel-default{
  margin: 0px !important;
}

::ng-deep .accordion-tab .card-header{
  padding: 5px !important;
}

::ng-deep .card button{
  color: black;
}

::ng-deep .button-group .btn{
  color: white;
}

.image-containner{
  height: 250px;
}

.input-image-file{
  display: none;
}

.img-item{
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 15px;
}

.btn-open-file{
  bottom: 0px;
  position: absolute;
}
