<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">
            <!-- card1 start -->
            <div class="col-md-6 col-xl-3">
              <div class="card widget-card-1">
                <div class="card-block-small">
                  <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
                  <span class="text-c-blue f-w-600">Tipo Cliente</span>
                  <h4>{{ tipoCliente.cliente_tienda }}/{{ tipoCliente.cliente_invitado }}</h4>
                  <div>
                    <span class="f-left m-t-10 text-muted">
                      <i
                        class="text-c-blue f-16 icofont icofont-warning m-r-10"
                      ></i
                      >Registrado V/S Invitado
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- card1 end -->
            <!-- card1 start -->
            <div class="col-md-6 col-xl-3">
              <div class="card widget-card-1">
                <div class="card-block-small">
                  <i class="icofont icofont-ui-home bg-c-pink card1-icon"></i>
                  <span class="text-c-pink f-w-600">Envios Pendientes</span>
                  <h4>{{ despachosPendientes }}</h4>
                  <div>
                    <span class="f-left m-t-10 text-muted">
                      <i
                        class="text-c-pink f-16 icofont icofont-calendar m-r-10"
                      ></i
                      ><a routerLink="/admin/despachos">Ir a despachos</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- card1 end -->
            <!-- card1 start -->
            <div class="col-md-6 col-xl-3">
              <div class="card widget-card-1">
                <div class="card-block-small">
                  <i
                    class="icofont icofont-warning-alt bg-c-green card1-icon"
                  ></i>
                  <span class="text-c-green f-w-600">Ventas mes</span>
                  <h4>{{ ventasUltimoMes }}</h4>
                  <div>
                    <span class="f-left m-t-10 text-muted">
                      <i
                        class="text-c-green f-16 icofont icofont-tag m-r-10"
                      ></i
                      >Facturado el último mes
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- card1 end -->
            <!-- card1 start -->
            <div class="col-md-6 col-xl-3">
              <div class="card widget-card-1">
                <div class="card-block-small">
                  <i
                    class="icofont icofont-social-twitter bg-c-yellow card1-icon"
                  ></i>
                  <span class="text-c-yellow f-w-600">Ventas año</span>
                  <h4>{{ ventasUltimoAnio }}</h4>
                  <div>
                    <span class="f-left m-t-10 text-muted">
                      <i
                        class="text-c-yellow f-16 icofont icofont-refresh m-r-10"
                      ></i
                      >Facturado el último año
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- card1 end -->
            <!-- Statestics Start -->
            <div class="col-md-12 col-xl-8">
              <div class="card">
                <div class="card-header">
                  <h5>Ventas por mes</h5>

                  <div class="container">
                    <h2>Line Chart</h2>
                    <div>

                      <!--
                      <div style="text-align:center">
                        <apx-chart
                          [series]="chartOptions.series"
                          [chart]="chartOptions.chart"
                          [xaxis]="chartOptions.xaxis"
                          [title]="chartOptions.title"
                        ></apx-chart>
                      </div>
                      -->
                    </div>
                  </div>


                  <!--
                  <div class="card-header-left"></div>
                  <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                      <li>
                        <i class="icofont icofont-simple-left"></i>
                      </li>
                      <li>
                        <i class="icofont icofont-maximize full-card"></i>
                      </li>
                      <li>
                        <i class="icofont icofont-minus minimize-card"></i>
                      </li>
                      <li>
                        <i class="icofont icofont-refresh reload-card"></i>
                      </li>
                      <li>
                        <i class="icofont icofont-error close-card"></i>
                      </li>
                    </ul>
                  </div>
                  -->
                </div>

                <!--
                <div class="card-block">
                  <div id="statestics-chart" style="height: 517px"></div>
                </div>
                -->
              </div>
            </div>

            <div class="col-md-12 col-xl-4">
              <div class="card fb-card">
                <div class="card-header">
                  <!-- <i class="icofont icofont-social-facebook"></i> -->
                  <div class="d-inline-block">
                    <h5>Visitas</h5>
                    <span>Cantidad de visitas registradas</span>
                  </div>
                </div>
                <div class="card-block text-center">
                  <div class="row">
                    <div class="col-6 b-r-default">
                      <h2>{{ visitasMes }}</h2>
                      <p class="text-muted">Último Mes</p>
                    </div>
                    <div class="col-6">
                      <h2>{{ visitasAnio }}</h2>
                      <p class="text-muted">Este Año</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card dribble-card">
                <div class="card-header">
                  <i class="icofont icofont-social-dribbble"></i>
                  <div class="d-inline-block">
                    <h5>Anuladas</h5>
                    <span>Ventas anuladas</span>
                  </div>
                </div>
                <div class="card-block text-center">
                  <div class="row">
                    <div class="col-6 b-r-default">
                      <h2>{{ anuladasMes }}</h2>
                      <p class="text-muted">Último mes</p>
                    </div>
                    <div class="col-6">
                      <h2>{{ anuladasAnio }}</h2>
                      <p class="text-muted">Último año</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card twitter-card">
                <div class="card-header">
                  <!-- <i class="icofont icofont-social-twitter"></i> -->
                  <div class="d-inline-block">
                    <h5>Último envío</h5>
                    <span>Fecha último envío a {{ ciudad}}</span>
                  </div>
                </div>
                <div class="card-block text-center">
                  <div class="row">

                      <h2>{{ fechaDespacho }}</h2>
                      <p class="text-muted">Fecha</p>

                  </div>
                </div>
              </div>
            </div>

            <!-- Email Sent End -->
            <!-- Data widget start -->
            <div class="col-md-12 col-xl-6">
              <div class="card project-task">
                <div class="card-header">
                  <div class="card-header-left">
                    <h5>Los 5 productos más vendidos</h5>
                  </div>
                  <div class="card-header-right">

                  </div>
                </div>
                <div class="card-block p-b-10">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Producto</th>
                          <th>Cantidad</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of prodMasVendidos">
                          <td>
                            <div class="task-contain">
                              <img src="{{ sourceImage + 'productos/' + item.imagen }}" alt="{{ item.imagen }}" class="img-producto">
                              <p class="d-inline-block m-l-20">{{ item.producto }}</p>
                            </div>
                          </td>
                          <td>
                            <p class="d-inline-block m-r-20">{{ item.cantidad }}</p>

                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-xl-6">
              <div class="card add-task-card">
                <div class="card-header">
                  <div class="card-header-left">
                    <h5>5 envíos pendientes recientes</h5>
                  </div>
                  <div class="card-header-right">
                    <button class="btn btn-card btn-primary" (click)="goToShipping()">Ir a despachos</button>
                  </div>
                </div>
                <div class="card-block">
                  <div *ngFor="let item of detPendientes" class="to-do-list">
                    <div class="checkbox-fade fade-in-primary d-block">
                      <label class="check-task d-block">

                        <span
                          ><h6>
                            N°{{ item.venta_id }} | {{ item.ciudad }} | Fecha: {{ formatearFecha(item.fecha_venta) }} | {{ item.cantidad }} productos
                            <span (click)="showDetailShipping(item.venta_id)" class="label bg-c-green m-l-10 f-10 span-button"
                              >Ver detalle</span
                            >
                          </h6></span
                        >
                        <div class="task-card-img m-l-40">
                          <a *ngFor="let img of item.producto" href="#!"
                            ><img
                              src="{{ sourceImage + 'productos/' + img.imagen }}"
                              data-toggle="tooltip"
                              title="Lary Doe"
                              alt="{{ img.imagen }}"
                              class="img-40"
                              [title]="img.producto"
                          /></a>

                        </div>
                      </label>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- Data widget End -->
          </div>
        </div>
      </div>

      <div id="styleSelector"></div>
    </div>
  </div>
</div>

<!--
<script>
  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday",
      ],
      datasets: [
        {
          label: "work load",
          data: [2, 9, 3, 17, 6, 3, 7],
          backgroundColor: "rgba(153,205,1,0.6)",
        },
        {
          label: "free hours",
          data: [2, 2, 5, 5, 2, 1, 10],
          backgroundColor: "rgba(155,153,10,0.6)",
        },
      ],
    },
  });
</script>
-->
