<carousel
    [objectFit]="objectFit"
    [cellWidth]="cellWidth"
    [arrowsOutside]="arrowsOutside"
    [arrows]="arrows"
    [arrowsTheme]="arrowsTheme"
    [autoplay]="autoplay"
    [dots]="dots"
    [loop]="loop"
    [height]="height"
    [cellsToShow]="cellsToShow"
    [margin]="margin"
    [pauseOnHover]="pauseOnHover"
    [autoplay]="autoplay"
    [autoplayInterval]="autoplayInterval"
    [CellToScroll]="CellToScroll"
    [lightDOM]="lightDOM"
    [transitionTimingFunction]="transitionTimingFunction"
    >
    <div class="carousel-cell" *ngFor="let item of imagenes; index as i">
      <img [src]="sourceImage + item.imagen" alt="{{ item.imagen }}" [class]="item.imageClass">
      <a *ngIf="item.label"
        [routerLink]="item.link"
        [class]="item.linkClass"
      >{{ item.label }}</a>
    </div>
</carousel>
